.boardtile {
    width: 100px;
    height: 100px;
    border-width: 0px;
    border-style: solid;
    border-color: gray;
    display: inline-block;
}
tr {
    white-space: nowrap;
    margin: 0px;
    display: block;
}
#centerTile {
    background-image: url("../img/crfr.png");
    background-repeat: no-repeat;
    background-position: center;
}
#dash {
    height: auto;
    width: 230px;
    background-color: black;
    margin: 10px 10px;
    opacity: 0.8;
    position: fixed;
}
#roster {
    height: auto;
    width: inherit;
}
#playingTile {
    height: 100px;
    width: 100px;
    margin-left: 4%;
    display: none;
}
#buttoncontainer {
    width: 146px;
    height: 72px;
}
#main_bttn {
    margin: 25px 49px;
    width: 105px;
}
#rcw {
    margin-left: 5px;
}
#rcc {
    margin-right: 5px;
}
.played {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
#worker {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}
.cell {
  width: 10px;
  height: 10px;
  padding: 0px;
  border-width: 0px;
  position: relative;
}
.row {
  white-space: nowrap;
  width: 100px;
  display: block;
  height: 10px;
  display: flex;
}
.meeple {
    width: 50px;
    height: 50px;
    float: inline-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    position: absolute;
    bottom: 0;
}
p {
    color: white;
    margin-left: 16px;
}
body {
    background: aliceblue;
}